.field-select__title {
  display: block; }

.field-select__wrapper {
  height: 57px;
  display: flex; }

.field-select__title {
  color: #1f1f1f;
  font-size: 20px;
  margin-bottom: 20px;
  display: flex; }

.field-select__wrapper {
  position: relative; }
  .field-select__wrapper::before {
    content: '';
    position: absolute;
    right: 20px;
    top: 50%;
    width: 14px;
    height: 9px;
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2214%22%20height%3D%229%22%20viewBox%3D%220%200%2014%209%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M7%209L0.0717972%20-1.30507e-06L13.9282%20-9.36995e-08L7%209Z%22%20fill%3D%22%231A1A1A%22/%3E%0A%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 100% auto;
    pointer-events: none; }

.field-select__select {
  width: 100%;
  height: 100%;
  border: 2px solid #DDE2EF;
  border-radius: 0;
  padding: 16px 40px 16px 20px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffffff;
  outline: none;
  transition: box-shadow .4s ease-out; }
  .field-select__select:focus {
    box-shadow: 0px 0px 0px 2px rgba(0, 108, 235, 0.7); }
  .field-select__select option:first-child {
    display: none; }
